* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f9f9f9;
    background-image: linear-gradient(to bottom, #c3e7be, #8ee4af);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 600px;
    height: 90vh;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #FFDD59;
    overflow-y: auto;
    padding: 20px;
}

.content {
    padding: 16px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #FF5722;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px #FFD700;
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    border-radius: 50%;
    border: 3px solid #FF5722;
    background-color: #FFEB3B;
    padding: 5px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #FF5722;
    text-shadow: 1px 1px #FFD700;
}

.section-content {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #37474F;
}

.interactive-section {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #FFDD59;
    overflow-y: auto;
    padding: 20px;
}

.drag-drop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.draggable-item {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #FF5722;
    border-radius: 8px;
    cursor: grab;
}

.draggable-item.hide {
    display: none;
}

.dropzone {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #FF5722;
    background-color: #FFEB3B;
    border: 2px dashed #FF5722;
    border-radius: 8px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #FF5722;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.result-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #FF5722;
    text-shadow: 1px 1px #FFD700;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #FF5722;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #E64A19;
}
